// ------- Styling specifically for adminConsole Page -------

//Import global styling
@import 'styles';

#adminConsole {
    
    background-color: #eaeaea;
    
    //Top header (blue)
    .header {
        width: 100%;
        height: pxToRem(155);
        background-color: #5b8ec5;
        position: relative;
        
        #title {
            font-family: $lighterFont;
            font-size: pxToEm(40);
            color: white;
            position: absolute;
            bottom: pxToRem(25);
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    
    //Container for Navigation Bar
    #navigation {
        position: relative;
        font-size: ptToEm(13);
        color: $lightGray;
        padding: 0 0 pxToRem(15);
        margin: pxToRem(60) pxToRem(15) pxToRem(0);
        white-space: nowrap;
        
        //Section headers
        li {
            margin-right: pxToRem(20);
            padding-bottom: pxToRem(16);
        }
        
        //The ativated section header
        li.active {
            color: $darkGray;
            padding-bottom: pxToRem(16);
            border-bottom: 2px solid $blue;
            background-color: transparent;
            z-index: 1;
        }
        
        //Horizontal line indicator for selected section
        hr {
            border-bottom: 1px solid $lightGray;
            margin: 0;
            position: absolute;
            z-index: -1;
            bottom: 7px;
            width: 100%;
        }
    }
    
    //News Section
    #news {
        padding: pxToRem(40) pxToRem(15) pxToRem(70) pxToRem(15);
    }
    
    .searchBar {
        margin-bottom: pxToRem(35);
        
        i, ::placeholder {
            
            color: $lightGray;
        }
        
    }
    
    //Table display entries from database
    table {
        font-family: $lighterFont;
        border-collapse: collapse;
        text-align: left;
        width: 100%;
        
        //Table Row
        tr {
            //Table Header
            th {
                font-size: ptToEm(14);
                color: $lightGray;
                padding-bottom: pxToRem(10);
            }
            //Table data
            td {
                max-width: pxToRem(225);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: pxToRem(10);
            }
        }
        
        //Table row that is collapsed
        .collapsed {
            font-size: ptToEm(14);
            background-color: white;
            box-shadow: inset 0 0 1px #666;
            border: none;
            height: pxToRem(110);
            margin-top: pxToRem(10);

            //Icons
            i {
                font-size: pxToEm(50) !important;
                color: $blue;
            }
            
            .fa-trash-alt {
                color: $red;
            }
            
            //First td (Icon to un-collapse)
            td:first-child{
                width: pxToRem(65);
                border-right: 2px solid #eaeaea;
                text-align: center;
            }
        }
    }
}