// ------- Styling specifically for createAcct Page -------

//Import global styling
@import 'styles';

#createAcctPage {
    .title {
        color: white;
        margin-top: pxToRem(205);
    }

    .subtitle {
        font-size: pxToEm(29);
        line-height: pxToEm(45);
        color: white;
        margin-top: pxToRem(60);
        margin-bottom: pxToRem(100);
    }

    .inputWithIcon {
        margin-bottom: pxToRem(45);
    }

    #formStep2{
        display: none;
    }

}
