// ------- Styling specifically for a individual notification Page -------

//Import global styling
@import 'styles';


#notifcationPage {
    //Header Image
    .imageContainer {
        width: 100%;
        height: pxToRem(500);

        //Black overlay of image
        .overlay {
            background-color: black;
            width: inherit;
            height: inherit; 
        }

        img {
            height: 100%;
            opacity: 0.7;
        }  
    }

    //Content
    .container {
        padding: 0 pxToRem(50) pxToRem(140);
        
        .title {
            font-family: $baseFont;
            margin-bottom: pxToRem(35);
            word-break: break-all;
        }
        
        .subtitle {
            width: 100%;
            text-align: right;
            font-family: $lighterFont;
            white-space: nowrap;
            
            i {
                color: $blue;
                margin-right: pxToRem(10);
            }
            
            span {
                margin-right: pxToRem(20);
            }
        }
        
        .copy {
            font-family: $lighterFont;
            margin-top: pxToRem(70);
            word-break: break-all;
            white-space: pre-line;
        }
        
        a {
            
            font-family: $lighterFont;
            font-weight: 100;
            font-size: ptToEm(14);
            text-overflow: ellipsis;
            display: block;
            margin-top: pxToRem(60);
            
            .fa-link {
                color: $blue;
                width: 100%;
                margin-right: pxToRem(15);
                display: inline;
            }
        }
        
        button {
            margin: pxToRem(60) auto 0;
            background-color: $green;
            color: white;
            font-size: 1em;
            width: 100%;
            height: pxToRem(95);
            box-shadow: inset 0 0 1px #666;
            border: none;
            box-sizing: border-box;
        }
    }
}