// ------- Styling specifically for Profile Page -------

//Import global styling
@import 'styles';
@import 'createAcct';

#profilePage {
    .container {
        padding-bottom: pxToRem(140);
    }
    
    .subtitle {
        padding: 0 pxToRem(40);
    }
    
    #password {
        text-align: left;
    }
    
    #save {
        background-color: $green;
    }
    
    .logoutContainer {
        padding: 0 pxToRem(120);
        width: auto;
        
        #logout {
            background-color: $red;
            height: pxToRem(90);
            margin-top: pxToRem(30);
            width: 100%;
        } 
    }
}